{% extends "LoginRegister.html" %} {% block form %}

   <form action="/login/user/" method="POST" class="form-group grd">
      {% csrf_token %}
      <div class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
         <input name="login_email" type="text" class="form-control" id="email" placeholder="Enter Your Email" value="martin.nguema@superstar.com">
      </div>
      <!-- {% if messages %} {% for message in messages %}
      {% if message.tags == 'login_email error' %} <h6 class="error" style="color:#4fbae0">{{ message }}</h6> {% endif %}
      {% endfor %} {% endif %} -->

      <div class="input-group" style="margin-top:2rem;">
         <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
         <input id="password" type="password" class="form-control" name="password" placeholder="Enter Your Password" value="12345678">
      </div>
      <!-- {% if messages %} {% for message in messages %}
      {% if message.tags == 'password error' %} <h6 class="error" style="color:#4fbae0">{{ message }}</h6>{% endif %}
      {% endfor %} {% endif %} -->

       <div class="input submit">
         <input
            type="submit"
            name="Create"
            placeholder="submit"
            value="Login"
            class="login-btn">
      </div>
      <!-- {% if messages %} {% for message in messages %}
      {% if message.tags == 'dontExist error' %} <h6 class="error" style="color:#4fbae0">{{ message }}</h6>{% endif %}
      {% endfor %} {% endif %} -->
   </form>

{% endblock %}
